* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.foto-perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;

  border: 4px solid #ffffff; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);

  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-perfil:hover {
  transform: scale(1.06);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}


  body {
    background: #f4f6fa;
    color: #333;
  }
  
  .header {
    width: 100%;
    padding: 20px 40px;
    background: linear-gradient(135deg, #001f3f, #004080, #0066cc);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .nome {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .subtitulo {
    font-size: 1.2rem;
    opacity: 0.9;
  }
  
  .container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .card {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  }
  
  h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #001f3f;
  }
  
  ul {
    margin-left: 20px;
  }
  
  .icones-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Ajuste o valor se quiser mais ou menos espaço entre as imagens */
}

.icon {
    width: 40px;  /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    cursor: pointer;
}


.icone {
    width: 40%;  
    cursor: pointer;

}

  ul li {
    margin: 5px 0;
  }
  
  .footer {
    width: 100%;
    padding: 20px 40px;
    background: linear-gradient(135deg, #001f3f, #004080, #0066cc);
    color: white;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
  }
  